<!DOCTYPE html>
<html >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>weather</title>
        <link rel = "stylesheet" href ="{{ url_for('static', filename= 'css/weather.css')}}">
    </head>
<body class="weather-body" style="background-image: url({{url_for('static', filename='/'+filename)}})">
    <p align = "left"><a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a></p>
    <div class="app-wrap">
    <form action="/weather" method = 'post'>
    <header>
        <input type="text" autocomplete="off" class="search-box"
        placeholder="Search for a city...", name="city_nm">
    </header>
    </form>
    <main>
    <section class="location">
        <div class="city">{{city}}</div>
        <div class="date"><img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" 
            style="background-color: rgba(255, 255, 255, 0.5); border-radius: 12em;"></div>
    </section>
        <div class="current">
            <div class="temp">{{current_temp}} <span>°C</span></div>
            <div class="weather">{{current_weather}}</div>
            <div class="hi-low">{{hi_low}}</div>
        </div>
    </main>
    
    </div>
</body>